[2014-12-07 18:28] eric-jahn opened #1 "gradle, ant, or maven build needed for this code"
That way, all the dependencies will be accounted for, and will automate the installation.

[2014-12-07 18:45] WilliamMatson commented on #1
Unless we want to revisit the entire process, we decided that we would not implement Maven due to its complexity.

-----Original Message-----
From: "Eric Jahn" notifications@github.com
Sent: ‎12/‎7/‎2014 1:28 PM
To: "PCNI/OpenHMIS" OpenHMIS@noreply.github.com
Subject: [OpenHMIS] ant or maven build needed for this code (#1)

That way, all the dependencies will be accounted for, and will automate th

[2014-12-07 23:04] eric-jahn commented on #1
I think since we've had that discussion, Maven's only grown in popularity to the extent it's now the defacto build tool for Java.  Also, Eclipse has heavily embraced Maven since then, and it's included by default in Eclipse.  If it was ever complex, it's pretty much point and click and auto generating now.  Also, it does more than Ant, as it uses Ant.  So, yes, probably time to revisit...

[2014-12-11 21:36] kfogel commented on #1
Just seconding what Eric says.  Pretty much every Java-based open source project uses _some_ build system, and Maven is one of the most popular such systems.  I'm not sure when the decision was made not to use it, but would recommend revisiting it now -- incoming developers would expect some build framework, and would consider Maven to be a very normal choice.  (As far as I know, Ant is fine too;

[2014-12-11 21:46] imlab10 commented on #1
That decision was made couple years back. Maven was not stable at that
time, specially for circular dependencies and online repositories issues.
Lots of projects went to maven at that time and eventually it was pulled
out. I think Beini also run into lots of issues when she took over some
projects from outside and eventually she pulled maven out in order not to
waste more time. If Maven is more ma

[2014-12-11 22:50] kfogel commented on #1
Again, want to emphasize that this isn't really about Maven vs not-Maven.  It's about having a build system in place -- could be Ant or, alternatively, could be whatever the cool kids are using these days (if that's not Maven).

Right now, starting from the top of the tree and the INSTALL.md file, there is not a clear path (e.g., a command to issue) to compile all the source code to get a runnable

[2014-12-17 23:05] eric-jahn opened #2 "merge in demo client branch"
and verify that it still runs on the VPS

[2015-03-07 11:04] ashaar364 commented on #1
Ant build system is added and INSTALL.md file is updated about the configuration in the system.
You can use the following three command "ant deploy", "ant compile" and "ant clean". deploy is using the other two ant commands.
ant deploy will create the war file and copied to the Tomcat webApp directory. Ant can be configured with any other app or web application server.

[2015-05-15 01:57] steveconners opened #7 "Convert Using the OpenHMIS VM Guide to Markdown"

[2015-05-15 03:57] steveconners commented on #1
I'm going to fill out the choir saying there needs to be a standard way that eases the on-ramp for new contributors.

Ashaar - the current master branch does not include Ant builds. I see them in the OAuth branch, however, I encounter errors attempting an Ant deploy on the CentOS VM that Xin put together. I will do a little more exploration.

I do not think a glitzy build is going to be what convi

[2015-06-01 17:25] steveconners opened #8 "Unique Identifiers in Distributed OpenHMIS"
OpenHMIS is currently dependent upon a "master" system which provides the unique ID sequences for all object. We are running into use cases where new clients will be first created in other systems (SalesForce, PeachConnect, disconnected Ipads, etc.) and objects (clients, services, etc.) will need to be created without access to the unique sequence(s) currently used.
# Proposed Solutions

There are

[2015-06-12 15:26] steveconners opened #11 "Document repository guidelines"
Add repository guideliness to the README. Note general components (db, api, apps), provide template directory structure, and define intended branch/merge processes.

[2015-06-12 15:31] steveconners opened #12 "Database Deployment"
Database must be deployable. Need,
- SQL build script, and
- instructions.

Instructions should provide guidelines for at least one environment. Instructions must include prerequisites, i.e. CentoOS machine or Amazon Web Services account. Users must be able to complete the installation with minimal (or preferably NO) expense.

[2015-06-12 15:35] steveconners opened #13 "Buildable API Implementation"
Add necessary build files (Maven or Ant) to the API code. Test building a fresh clone of the repository.

[2015-06-12 15:37] steveconners opened #14 "Outreach Worker App"
Add Outreach Worker App to the repository. Do not add a mess - start with the component structure, then code, then build files, then test fresh clone and compile.

[2015-06-12 15:37] steveconners opened #15 "Homeless Helper"
Add Homeless Helper to the repository. Do not add a mess - start with the component structure, then code, then build files, then test fresh clone and compile.

[2015-06-12 15:37] steveconners opened #16 "Data Quality App"
Add Data Quality App to the repository. Do not add a mess - start with the component structure, then code, then build files, then test fresh clone and compile.

[2015-06-30 17:59] slifty commented on #1
Hey all -- I just put out a pull request which builds using maven, so if that gets merged in we should be able to mark this issue as closed!

[2015-06-30 18:01] slifty commented on #2
I'm going to close this issue for now since we are now using a new master branch, meaning the merging process is likely going to need to be somewhat of a manual cherry pick for the legacy branches.

[2015-06-30 18:01] #2 closed, assigned to nobody

[2015-06-30 18:07] slifty commented on #7
Since we have switched over to being able to avoid the need for a VM to have a local build, do we want to keep that as part of the repo / documentation or should we close this issue off?

[2015-06-30 18:11] slifty commented on #11
The first portion of this is complete (template directory structure)
The branch / merge process portion is coming soon!

[2015-06-30 18:12] slifty commented on #12
I believe this is resolved with the new master's INSTALL.md file.

[2015-06-30 18:12] #12 closed, assigned to nobody

[2015-06-30 18:15] slifty commented on #14
It sounds like we may want to treat this app as a separate repository / project (which we would link to from the README.md).  Is that accurate?

[2015-06-30 18:17] WilliamMatson commented on #14
Yes

William Matson, Executive Director
Pathways Community Network Institute
PO Box 450147
Atlanta, GA 31145-0147
[Office] 404.639.9933 x301   [Toll Free] 866.818.1032 x301
http://www.linkedin.com/in/matson
www.pcni.org

This email message, including contact information and any attachments, is
for the sole use of the intended recipient(s) and may contain confidential
and privileged information. An

[2015-06-30 18:23] slifty commented on #14
Got it!  I'll close out these particular "add project X to repo" issues and move the "big picture" ecosystem plans over to the wiki.  That way when folks are ready to start working on one of the apps they can spin up a repository (if it doesn't already exist)

[2015-06-30 18:23] #14 closed, assigned to nobody

[2015-06-30 18:25] slifty commented on #15
We decided to keep these apps in their own repositories ( https://github.com/PCNI/homeless-helper )

[2015-06-30 18:25] #15 closed, assigned to nobody

[2015-06-30 18:26] slifty commented on #16
We decided to keep these apps in their own repositories (https://github.com/PCNI/data-quality-assessment)

[2015-06-30 18:26] #16 closed, assigned to nobody

[2015-07-02 20:44] #13 closed, assigned to nobody

[2015-07-02 22:21] #1 closed, assigned to nobody

[2015-07-02 22:36] slifty opened #19 "API Errors return 404"
Right now our API either returns a valid object, or returns a 404.  Ideally the API would return an appropriate error message informing the API user what went wrong.  For example, if the API user attempted to access an entity that she does not have access to, the API should return a message stating as much.

[2015-07-02 22:37] slifty opened #20 "Logging Configurations"
Right now I'm not sure where the log4j logs are being written to, and neither was my friend who set up a copy of the code.  We should resolve this in documentation and generally do an audit of the logging processes.

[2015-07-02 22:42] slifty opened #21 "Oauth2 Authentication"
The API currently does not have any form of enabled authentication -- this was a temporary measure which should be immediately corrected by the guy who ruined it (that would be me).

My understanding is that we would like to use [oauth2](http://oauth.net/2/) focusing on SalesForce and (or?) Google, but I'm also going to spend some time making sure I understand the use cases for authentication to e

[2015-07-02 23:20] slifty opened #22 "Heroku Support"
Set up the repository so that it can be easily pushed to [Heroku](heroku.com).

This will make it incredibly easy to show off any updates or features during demos and on the discussion list.

This will involve making the changes to code, but also updating [INSTALL.MD](INSTALL.MD).

[2015-07-02 23:22] slifty opened #23 "Initial Unit Tests"
We would like this project to start utilizing unit tests, which will ensure that new contributions don't break the current build and will eventually support project workflows such as continuous integration.

[2015-07-05 00:00] ashaar364 commented on #19
Api is updated to return the error message if something went wrong, it give the errorcode, application message and developer message.

[2015-07-05 00:04] ashaar364 commented on #20
log4j.xml file is added. Now the log is saving in the file and also displaying on the console and log file can be found at {user.home}/logs folder.

[2015-07-06 14:38] steveconners commented on #7
I will move this into the wiki.

[2015-07-06 15:21] cecilia-donnelly commented on #19
@ashaar364 @slifty:

It looks like these changes were made in commit e25c7cb, in the OAuth2.0.1 branch.  Is that right, @ashaar364?  Can/should they go into master?  Or perhaps this should be our first "feature" branch as described in the new CONTRIBUTING.md.  Thoughts, @slifty?

[2015-07-06 15:26] cecilia-donnelly commented on #20
@slifty @ashaar364:

I think this change is also in commit e25c7cb on the OAuth2.0.1 branch.  See https://github.com/PCNI/OpenHMIS/issues/19#issuecomment-118889419 for thoughts and questions.  I'm guessing that these changes should go into the 0.2.1 branch or a feature branch created from that one.

[2015-07-06 23:14] ashaar364 commented on #19
@cecilia-donnelly That is right the changes were made in the branch OAuth2.0.1 and yes they can go into the master.

[2015-07-07 00:53] slifty commented on #19
That is awesome @ashaar364 !  Would you be around at all some time this week to talk through the proposed contribution process stuff that _just_ got added to the repository?  This would be an excellent chance to try it out in the wild.

(Happy to talk through it by email too if time is tight, although it would be good to meet!)

[2015-07-07 08:07] ashaar364 commented on #19
@slifty we can meet Friday at 5pm ur time. Let me know if that's fine with you. By that time let me have a look at the contribution process.

[2015-07-07 14:20] steveconners opened #25 "Update migration files to COMPASS ROSE"
Update database schema to use COMPASS ROSE, need to update migration files with relevant schema including test data

[2015-07-07 14:22] #11 closed, assigned to nobody

[2015-07-07 15:18] steveconners opened #26 "Update data access to use COMPASS ROSE schema"

[2015-07-09 14:03] slifty commented on #19
@ashaar364 perfect; lets use Skype for now, I'm "slifty" there too.

[2015-07-13 15:50] kfogel commented on #19
Be careful with information leakage in errors.  For example, returning a "you don't have authorization to access ${ENTITY}" error confirms to the API user that ${ENTITY} exists, which itself may be a privacy violation under some quite-easy-to-imagine scenarios.

Totally agree about returning comprehensible errors wherever possible.  We just need to make sure we don't leak inappropriate information

[2015-07-13 15:51] kfogel commented on #21
I believe those two are correct, but check on list & with Dave.

[2015-07-14 19:49] steveconners commented on #26
Dan,

I have loaded the demo schema here for download:
https://drive.google.com/open?id=0B6jU7mYT7ztJcFQtNi1CcGt6STA

As reference data, I'm not sure where this belongs in the project. Your thoughts? Do we need a complete reference implementation database script? There is an existing GoldenDB which Pathways has maintained as the reference implementation of OpenHMIS2. I'll kick this out to the disc

[2015-07-15 05:55] slifty commented on #26
This is great -- I'll be reviewing tomorrow and likely creating new
migration files to bring the expected schema in line.

[2015-07-15 10:38] steveconners commented on #26
Sorry to any who attempted to retrieve these files and was not able to do so. The sharing has been updated. This link should now work.

[2015-07-15 12:02] steveconners commented on #25
I have loaded the demo schema here for download:
https://drive.google.com/open?id=0B6jU7mYT7ztJcFQtNi1CcGt6STA

[2015-07-15 12:04] steveconners commented on #21
The initial implementation was Google and Salesforce, Ashaar is currently adding a custom OpenHMIS oauth2 server.

[2015-07-15 12:31] steveconners commented on #7
[OpenHMIS-Development-VM](../wiki/OpenHMIS-Development-VM)

[2015-07-15 12:31] #7 closed, assigned to nobody

[2015-07-18 01:45] steveconners commented on #26
I have loaded an iteration of the schema that includes path_client_income_cash and path_client_income_noncash. (v1.1)
https://drive.google.com/file/d/0B6jU7mYT7ztJQzEwU1pRY2hrRmc/view?usp=sharing

I understand Dan is about to publish additional tables required -- I'll put out a v1.2 ASAP.

[2015-07-21 10:51] ashaar364 commented on #20
code is committed in the feature-logs branch

[2015-07-21 10:52] ashaar364 commented on #19
code is committed in the features-errors branch

[2015-08-01 11:06] steveconners opened #29 "Database Catalog Reference"
(On behalf of Ashaar)
There was reference to the database catalog in a domain file that was creating a problem on the local db. I have remove that reference as in all the other domain files.

[2015-08-01 11:07] steveconners commented on #29
Ashaar, what file are you struggling with? Rather than merge the incomplete feature branch, we will update a single file.

[2015-08-01 11:20] ashaar364 commented on #29
-@Table(name = "PATH_CLIENT_VETERAN_INFO", catalog = "openhmis")
+@Table(name = "PATH_CLIENT_VETERAN_INFO")

I have just updated the above line with the bottom line, as you can see it got the information about the schema. There shouldn't be any information about the catalog.

[2015-08-01 11:21] ashaar364 commented on #29
@steveconners One more question about the database, we don't have any foreign key relationship in the database, do we have a plan to add them? Why the relationship doesn't exist for the first place.

[2015-08-01 12:42] steveconners commented on #29
@ashaar364  the current schema is a subset of the COMPASS ROSE schema. It is intended to provide an implementation of the API against the COMPASS ROSE schema.

A quick search of the currently checked in code shows only one instance of the catalog on line 83 of OpenHMIS/src/main/java/org/openhmis/domain/Race.java.  Where are your finding the PATH_CLIENT_VETERAN_INFO?

[2015-08-02 02:04] ashaar364 commented on #29
@steveconners, that is right current schema is a subset of the COMPASS ROSE, but we should have  relationship in the system. Having foreign key constrain in the system makes the API code different and   we have less code to write. What type of advantage we are getting by removing the relationship?

[2015-08-02 02:06] ashaar364 commented on #29
I have found the PATH_CLIENT_VETERAN_INFO in the feature-compass branch and my pull request was on that branch only and I think u r looking in the main branch.

[2015-08-03 22:20] cecilia-donnelly opened #30 "Manual DB data changes are not reflected immediately via API"
When data is changed directly in the database (e.g. when doing a bulk insert or deletion), those changes are not immediately shown to apps who are accessing the data via the API.  We may just need to document that db owners should run `mvn tomcat7:redeploy` after manually changing their data.

To reproduce while testing, add some client data via a MySQL command line interface, and then check `loca

[2015-08-05 07:56] kfogel opened #31 "Sample data has impossible value in Ethnicity field (on feature-compass_schema branch)."
In `src/main/resources/db/data/DATA.sql` on the `feature-compass_schema` branch, the second row is data for a person named Tommy Mover.  The number in the value corresponding to column ETHNICITY_KEY is 105, which is an impossible value according to both the [HMIS CSV specification](http://www.hudhdx.info/Resources/Vendors/4_0/HMISCSVSpecifications4_0FINAL.pdf) and the [HMIS Data Dictionary](https:

[2015-08-05 14:47] steveconners commented on #31
The COMPASS ROSE dataset has data created prior to the 2014 Data Standards and data created for non-HMIS communities.

The test data uses the PATH_CODE_ETHNICITY table as the lookup. The historical data uses existing system keys.
The discrepancy was discussed verbally -- that the COMPASS ROSE-specific DAO would need to handle legacy keys that do not match the standard.

This is an instance of key

[2015-08-05 15:20] slifty commented on #31
That is indeed a bug!  Before I learned about that CSV standards file I had made the first ENUMs based on sample data (ethnicity being the first one -- must have missed it when I went back to re-code based on HUD).  The Manager object that does the mapping will ultimately be responsible for implementing the logic Steve just mentioned.

I'll make this fix this afternoon.

[2015-08-05 15:36] slifty commented on #31
Karl this should now be fixed -- can you let me know if export is still showing invalid fields?

[2015-08-05 16:04] kfogel commented on #31
But, @steveconners's (implicit) point is still correct I think: I misfiled this as a bug against the sample data when it was actually a bug in the values returned by the API.  The `DATA.sql` file can have whatever it wants -- it can have a rutabaga in that field if it chooses to.  As long as the DAO maps it correctly to a HUD-approved value, we're good.

Will test and let you know, @slifty.

[2015-08-05 16:06] slifty commented on #31
Yep -- sorry, I should have clarified that the fix had nothing to do with the DATA.sql file!  Also I should have mentioned this issue in the commit... Fail :(

[2015-08-05 16:19] kfogel commented on #31
@cecilia-donnelly confirms this is fixed now.  Closing.

[2015-08-05 16:19] #31 closed, assigned to nobody

[2015-08-06 19:31] cecilia-donnelly opened #32 "Add license headers to all files"
We should have a header with copyright holder, year(s) of copyright, and the license at the top of every file.  It will look like this:

[code]

@kfogel started this work in 458815d, but we've added a lot of files since then.

[2015-08-06 19:42] steveconners commented on #29
@ashaar364, the only benefit is that we have not had the time to add this. There is a further consideration that our goal is to move from this schema to the OpenHMIS2 schema developed for this purpose. HOWEVER, I expect that change will take long enough that we would reap some benefit from adding the relationships here.

[2015-08-06 19:45] steveconners commented on #29
This does not appear to still be here (PATH_CLIENT_VETERAN_INFO) - I will close this issue. I will create another to add foreign key constraints.

[2015-08-06 19:45] #29 closed, assigned to nobody

[2015-08-06 19:49] steveconners opened #33 "Add Foreign Key Constraints to Test Schema"
[from @ashaar364 - a second issue from #29]
We should have relationships in the system. Having foreign key constrain in the system makes the API code different and we have less code to write. What type of advantage we are getting by removing the relationship?
(@steveconners response: the only benefit is that we have not had the time to add this. There is a further consideration that our goal is to

[2015-08-09 08:59] ashaar364 commented on #30
@cecilia-donnelly
This is not a big issue.

set the following property in hibernate.cfg.xml file
`<property name="hibernate.connection.autocommit">true</property>`

after setting this property, restart your tomcat. i.e, mvn tomcat7:redeploy

Now add the changes to the database in bulk and see the changes on the browser. You will be able to see the latest data on the browser.

You can get the same

[2015-08-09 09:06] ashaar364 opened #34 "DAO and Manager Layer Interfaces"
Add the interface to the DAO and Manager layer.

[2015-08-10 14:43] cecilia-donnelly commented on #30
@ashaar364 thanks for the tip!

By the way, I edited your response so that the "property" tags above would show up as code -- they were hidden by GitHub Markdown, which thought they were html.  Wrapping text in backticks (``) makes it show up as monospaced literal text.

I'll test this and then close the issue.  Thank you!

[2015-08-10 18:03] cecilia-donnelly commented on #30
@ashaar364 this absolutely did the trick.  I was going to commit a change to `hibernate.cfg.xml.example` setting that property equal to true, but I saw that Hibernate recommends not doing so.  See [this Stack Overflow question](http://stackoverflow.com/questions/23100888/why-is-hibernate-connection-autocommit-true-not-recommended-in-hibernate) for more on why.  In short, we may have multiple trans

[2015-08-11 21:32] kfogel opened #35 "Version the API in the API itself -- e.g., serve it from /api/v3/."
Instead of serving the API from "/services/", serve it from "/api/v3/".  That way all API call URLs make clear that this is an API, and the major version number is built in.  We start with version 3 because versions 1 and 2 already happened, as explained in the "Historical Background" section of https://github.com/PCNI/OpenHMIS/blob/feature-compass_schema/docs/API.md.

[2015-08-11 21:57] #35 closed, assigned to nobody

[2015-08-13 20:15] kfogel commented on #30
A couple of things:

I think we should follow the Hibernate recommendation here.  Transactions are a way to ensure that application-specific data interdependencies remain in a consistent state (as far as the world outside the transaction is concerned) at all times.  So I don't think we want "autocommit = true" by default.

However, I'm confused about something: Why does setting the Hibernate autoc

[2015-08-13 20:21] slifty commented on #30
Sorry all, talked to cod nelly about this in Orc then had a baby before
posting on github

Baby is sleeping In my arms now actually...

Kfogel the short story as I understand is that hibernate maintains an in
memory data layer which only syncs with the database as needed.

The solution I suggest here is to update game DAOs to flush that layer
before issuing the select queries to ensue those are wo

[2015-08-13 20:25] kfogel commented on #30
HOLY MOLY CONGRATULATIONS DAN WHOA!!!

WELCOME IDA!

HAPPY HIBERNATING!

[2015-08-13 23:13] ashaar364 commented on #30
Why we want to execute the sQL query to bring something into the database. For me everything should come into the system by using API. If API doesn't provide this facility we should update the API, make the changes in it and stop using manual queries

[2015-08-17 17:31] kfogel commented on #30
Hi, @ashaar364.  I suspect the direct SQL queries were manual changes made during development/testing, for example to see if a certain API call delivers the right results when a certain change is made in the database.  IOW one has to make some manual DB changes when testing an API, because otherwise you're relying on the thing you're testing working correctly in order to test it :-).

[2015-08-17 17:40] slifty commented on #30
What Karl is saying is true, but in addition the Api absolutely must be
able to support the idea that other systems and applications might modify
the data outside of the Api - I know that this will at least be the short
to mid term case for the pathways implementation and suspect it will be
true in most other real world cases as well.

On Mon, Aug 17, 2015 at 1:31 PM Karl Fogel notifications@githu

[2015-08-17 23:01] ashaar364 commented on #30
@kfogel for testing purpose executing the queries and verifying the data in the API is fine. For that purpose we can set the autocommit flag to true in the development environment.

[2015-08-17 23:05] ashaar364 commented on #30
@slifty if we take the idea that API must be able to support the idea that other systems and application might modify the data out the API. We develop the API, add the authorization and authentication, add the logging and some one break all of these and enter the data into the system. Then why we have API in first place. Any one who want to access or modify the data has to use the API and pass thr

[2015-08-18 00:46] slifty commented on #30
Just to be clear @ashaar There are plenty of places where there is both an
App and an API (Twitter, Facebook, instagram, etc) and I bet there are
examples of tools they provide that don't use their API -- it is still a
useful thing to have!

That said, I agree that the vendors should aspire to convert all of their
apps to use the API since there are a lot of benefits from doing so.  The
issue is t

[2015-08-18 09:11] ashaar364 commented on #30
@slifty The question is not about API or App. The question is about the connection to the production database using any tool and updating it.Twitter, Facebook instagram etc can provide the tools that don't use API or use anything other than APi. Do they provide any of their production database information and asking the user they can direct connect to it and create a new user.

And for the second

[2015-08-18 10:51] steveconners commented on #30
Excellent discussion. I admire your ideals @ashaar364. I think I single access point would provide a crisp, clean system.

However, this system is currently envisioned as a method for existing vendors to implement an api alongside their existing application infrastructures. We do not have a current expected implementation without the design requirement that the API be tolerant of non-exclusive acc

[2015-08-19 23:07] ashaar364 commented on #30
@steveconners I have only one concern that if we are bringing any data into the system, we should know who updated that data and authorized person has updated it, we should have a log history and if we want to track back that change(s) we can do it.How we are bringing that data, it depends upon the requirement(s) and environment.

What i mean about the csv import is that we should think about the

[2015-08-20 20:53] kfogel commented on #30
The issue here isn't about API vs direct access, I think.  It's really about ensuring that any tool that _does_ use direct access is making sure to maintain internal consistency in the database.  For example if there are foreign-key relatiionships that need to be preserved, or if there are other cross-table synchronizations that need to be maintained in order that the semantics of the data be prop

[2015-08-30 18:17] slifty opened #36 "Version Fiasco!"
Our version numbers are kind of out of control.  The repo has the following versions listed depending on where you look:

0.3.0 (branch version)
1.0.0 (version listed in application.properties)
0.0.1 (this may just be local to me...)
v3 (version in the URL)
Version 2 (version in the repo description)

Proposed resolutions:
- I'd like to see the application.properties field automatically updated OR

[2015-08-30 21:06] slifty opened #37 "Errors, Validation and Exceptions"
When we ultimately implement field validation we will need to think about the proper architecture for error handling and exceptions.  Right now exceptions are caught before getting to the user, which means that we have no effective way of communicating validation (or authentication) issues without just throwing an error which is _BAD_.  We have authentication-with-500-erroring-as-a-feature for now

[2016-01-28 23:00] kfogel commented on #36
I've started working on this, based on the plan @slifty originally proposed in [this thread](https://groups.google.com/a/openhmis.org/forum/#!topic/openhmis-discuss/NaG69KxdKiE).  So far I have done the following:
- Merged `feature-compass_schema` into `0.3.0`.
- Merged `0.3.0` into `master`, resolving a trivial conflict in API.md.
- Tagged resultant commit 902e18cc5 as `3.0.0`.
- Created new mile

[2016-01-31 21:00] kfogel opened #40 "Manually maintaining application.version in `application.properties.example` is unwieldy."
Transfering this sub-issue over here from issue #36:

Summary says it all.  We should either automate the maintenance of this version number, or else update the relevant step in INSTALL.md (see commit 96ac954986c) to instruct the user in how to update the version number themselves.

[2016-02-01 03:21] kfogel commented on #21
As far as I can tell, this issue is done.  Google Sign-In works, and other authn providers can be added as needed.  It doesn't seem like a good idea to leave the issue open just for Salesforce, because that's just one of N authn providers that will probably need to be implemented in the long run.  We can open a dedicated ticket for Salesforce if/when that becomes a hard requirement.

Closing, but

[2016-02-01 03:21] #21 closed, assigned to nobody

[2016-02-01 04:03] kfogel commented on #36
Okay, the `application.properties` thing is now tracked in issue #40, and all those old branches have been moved to archival tags:

[code]

Closing this issue.

[2016-02-01 04:03] #36 closed, assigned to nobody

[2016-02-10 18:20] kfogel opened #41 "How to initiate a session to OpenHMIS API server?"
_(Moving private email thread to public support ticket thread, with permission from @taylordowns2000.)_

I'm trying to build a generic adaptor for OpenHMIS, so that users of front-end tools like Ona, CommCare, MedicMobile, ODK, SurveyCTO, etc., can set up a data integration to OpenHMIS in a few clicks.

Right now I'm playing around with POST and PUT on the /clients/ api, but getting no love!  The

[2016-02-10 18:22] kfogel commented on #41
Hi, @taylordowns2000.  First question: what version (commit) of the code are you running on the server side?  Are you on the HEAD of the `master` branch or the `feature-xml` branch?

[2016-02-10 19:31] kfogel commented on #41
By the way, @taylordowns2000: There's a project in Africa called OpenHMIS, which is an open source EMR system that's pretty widely used in that part of the world... Did you mean to be trying that one?  (Just wanted to sanity check.)

[2016-02-11 06:34] taylordowns2000 commented on #41
@kfogel , you're absolutely right. Maybe it was wishful thinking, because you've got such nice clean API documentation. At some point, while searching for "OpenHMIS API" I came across your project instead of "OpenHMIS Africa" here.

I'm so sorry to have wasted your time, but maybe there is a silver lining: is it possible that users of your platform would benefit from being able to register new cli

[2016-02-11 21:56] kfogel commented on #41
Hey, thanks @taylordowns2000.  No worries about the misunderstanding; it's actually a nice coincidence for me that you mentioned OpenFn, as I had other reasons to look more closely at them recently and this is a good reminder, from an independent source, about doing so!

Best of luck with the "other" OpenHMIS!

[2016-02-11 21:56] #41 closed, assigned to kfogel

[2016-02-24 17:14] cecilia-donnelly opened #42 "Move creds out of hibernate config file"
Currently, any new endpoints require users to copy the `hibernate.cfg.xml.example` file and re-insert their credentials into it.  This is an easy step to miss, so let's keep the mappings under version control and just insert the credentials into `hibernate.cfg.xml` from some global config file.

By the way, for future searches, the error I got because I didn't update my hibernate config looked lik

[2016-03-22 19:25] cecilia-donnelly opened #43 "Inconsistent date v. datetime timestamp values"
A user reports:

[2016-04-08 16:14] cecilia-donnelly opened #44 "Occasional 500 error until server is restarted"
At certain intervals, all requests to the HMIS server return `500` errors (often of the form `org.hibernate.exception.JDBCConnectionException: could not prepare statement` or similar), until an administrator runs `sudo tomcat7 service restart`.  I don't know why this happens, though @slifty might.  As a workaround, we could run a restart cron job once a day.

This issue is just to remind us to fin

[2016-04-22 23:57] cecilia-donnelly commented on #37
Merging in PR #46 didn't fully fix this, since we have some other exceptions left to handle.  But the structure is now here.

[2016-05-03 16:46] #42 closed, assigned to cecilia-donnelly

[2016-05-04 03:53] kfogel opened #49 "Finish and deploy the mirrorsync-compat branch."
Background: Because the addition of exceptions caused returned objects to be wrapped in an extra layer that MirrorSync isn't expecting, at least for now we're going to deploy a shim server (on some port other than 8080) that is based on pre-exception code, so that it's still compatible with MirrorSync.

The `mirrorsync-compat` branch is where this is happening.  It is based from commit 4dc9c0cb8c

[2016-05-04 16:52] cecilia-donnelly opened #51 "Healthcheck no longer works"
After I merged PR #48, the regular API endpoints work as expected but the `openhmis/api/v3/healthcheck/authentication` and `openhmis/api/v3/healthcheck` endpoints return `500` responses, instead of the messages they used to send.  I'll look into it.

[2016-05-04 21:32] cecilia-donnelly opened #52 "Null values for PathClientVeteranInfo cause 500 response"
On the `feature-validations` branch (see PR #50), sending `null` values for the following fields causes a server error and a 500 response.

Fields:

[code]

and the server error:

[code]

I'm guessing that this may have to do with `YesNoReason`, but it looks like that should be able to handle `null` values, and store them as `-1`?  In any case, new clients with nulls in those fields _are_ stored c

[2016-05-09 04:14] kfogel opened #54 "There's no internationalization of strings, etc. We'll want i18n at some point."
Just noting it here.  'Nuff said.

[2016-05-09 16:42] cecilia-donnelly commented on #52
@slifty, @kfogel:
 I think I see what's going on here but I don't know how I should address it.  It looks like `getCode` in `YesNoReason` doesn't return a code for null input, and so lines like `veteranInfo.setWorldWarIi(clientDTO.getWorldWarII().getCode());` fail to find a code and thus send the user a 500 response.  Should this just be another validation, along the lines of "Input can't be null"

[2016-05-10 15:30] #52 closed, assigned to nobody

[2016-05-10 21:03] cecilia-donnelly opened #55 "Admin privileges require server restart for reset"
When I change an admin privilege level in the database, I have to restart the server before the change takes effect and I see a change in the responses I get to my API calls.

For example, say I have a user with all permissions like so:

[code]

When I make a `GET` request to the `/clients` endpoint, I receive all the clients, as expected.  Then I run:

`mysql> update TMP_USER set canRead=0;`

Whe

[2016-05-12 22:48] cecilia-donnelly opened #56 "Don't handle nulls in DTO"
From my conversation a couple days ago with @slifty, lightly edited:

Dan might already be on this, but we need to handle #52 a different way.

[2016-06-01 21:38] slifty opened #58 "Move admin interface to React"
Right now it's a jquery mish mosh; would be nice to have the next iteration on React.

[2016-06-19 13:18] slifty opened #61 "Mental Health Services"
Right now Mental Health fell through the cracks -- the Manager / service / DAO / DTO for Mental Health needs to be reviewed (and in some cases created I think...) and brought to use the same patterns as the other objects.

[2016-06-19 23:12] kfogel opened #62 "Server returns 500 errors for cases that should be handled more specifically."
There are various cases where the server will return code 500 (Internal Server Error) to the client because something threw a generic exception or failed in some other way, when what we really want is to handle that case with a proper exception.  I don't have an example of such a case right now, but @slifty can probably think of some.

Note this is not related to issue #44, or at least they're not

[2016-06-20 02:38] kfogel opened #63 "Finish API documentation."
Various parts of the [API documentation](https://github.com/PCNI/OpenHMIS/blob/master/docs/API.md) need completing:
- [ ] The section "Top-level resources" had a note saying "TODO: All endpoints are now top-level.  This section may need more changes to reflect that."  Specifically, there's no documentation yet for the endpoints for Organizations and Projects.
- [ ] Many of the endpoint summaries h

[2016-06-23 17:12] kfogel commented on #62
Example of this kind of 500 error: If you don't give a Java-valid date format for any date field, we'll just get a 500 error.

But not all of these cases are about validation.  Basically, we should never be returning a 500 error; we should always return something better than that.

[2016-06-23 21:54] kfogel opened #64 "Logged-in user should not be able to delete self via admin API."
One shouldn't be able to delete one's own user via API.

It's also questionable whether one should be able to remove admin rights on one's logged-in user who (by implication) has the admin rights needed to be able to remove admin rights.

[2016-06-23 22:02] kfogel opened #65 "Logging and log-rotation."
This is a successor to issue #20, and subsumes that issue:

We need to add a log event whenever an endpoint is called, and we need to document how to configure logging and, if necessary, set up log rotatation.  The infrastructure for the first part is in place: we're already importing and using log4j.  See `src/main/resources/log4j.xml`.  See also commit a1316120de, and maybe commit 1b3de81d49, fo

[2016-06-23 22:02] kfogel commented on #20
Closing in favor of new issue #65.

[2016-06-23 22:02] #20 closed, assigned to nobody

[2016-07-13 20:35] kfogel opened #67 "New Google authn signup result page should display the Google identity"
When one goes to `/openhmis/signup/` and does the browser authn dance with Google, the resultant page (the one that gives the id token) should also say the Google identity that the token is associated with.

[2016-07-13 20:45] kfogel commented on #44
We just noticed that when you do `mvn tomcat7.redeploy`, the /var/lib/tomcat7/logs/catalina.out log file shows a couple of problems that might be related to this issue:

[code]

[2016-07-13 22:29] kfogel opened #68 "Cache the Google identity associated with an id token, for a set period of time."
In `src/main/java/org/openhmis/util/Authentication.java`, in the method `Authentication:googleAuthenticate()`, we call `token.getPayload().getEmail()` to get the human-readable Google identity (i.e., email address) associated with a particular id token (i.e., value received via an HTTP "Authorization" header).

This means we do a round-trip with Google every time we need to authorize.  That is, si

[2016-07-13 22:32] kfogel commented on #67
As per issue #68: in `src/main/webapp/signup/js/signup.js` we can call the proposed new endpoint and then display the resultant email address.

[2016-07-13 22:46] kfogel opened #69 "Third-party Javascript fetched from remote servers."
In `src/main/webapp/signup/index.html` there are a couple of places where we fetch Javascript files from remote servers.  That's a Thing We Don't Do, so, you know, let's fix it.

[2016-07-13 23:23] kfogel commented on #69
Branch `69-local-js` is for this issue.

[2016-07-13 23:27] kfogel commented on #69
I've confirmed that deploying branch `69-local-js` (commit 907ed6d0e) breaks signup -- you go to `/openhmis/signup` and click the button but no authentication window with Google pops up -- yet if you deploy master at commit 650fce4436 (i.e., without any of the branch's changes), it still works.

What I don't know yet is whether this is specific to just the Google client:platform.js library.  If we

[2016-07-14 17:56] cecilia-donnelly commented on #68
This proposed update could also handle the fact that we need to choose a timeout length for sessions.  Google id tokens do expire ([see an explanation here](https://www.tbray.org/ongoing/When/201x/2013/04/04/ID-Tokens#p-6)), but `Authentication.java` simply checks whether the token is related to a certain user.  @kfogel and I talked about this a bit this morning and @slifty and I talked about it b

[2016-07-15 20:01] kfogel opened #70 "Better error if database connection fails."
`mvn tomcat7:redeploy` should fail in some explanatory way if the database connection fails (e.g., if `dev.properties` doesn't have username and password).

[2016-07-15 20:05] kfogel opened #71 "Document expected logging paths."
At least in Debian GNU/Linux, there seems to be some confusion about where CATALINA_HOME should be -- /usr/share/tomcat7/ versues /var/lib/tomcat7/.  On the web, some docs expect log files to be in a logs/ subdirectory of the former, yet we seem to have them in the logs/ subdirectory of the latter.

The log output -- isn't that ironic, I know -- excerpt below shows our app trying various locations

[2016-07-15 20:35] kfogel opened #72 "Way way way way way way way way too much logging output. Srsly."
Wow.  We certainly are printing quite a bit of log output.  As of commit 650fce44360, with this patch in place...

[code]

...doing a GET on `/api/v3/clients` (via Postman in Chromium) produces 13352 lines of log output in `/var/lib/tomcat7/logs/catalina.out`.  And I'm going to attach them all here, so you know I'm serious.  Note that the second-to-last line is the one coming from the above patch;

[2016-07-15 20:46] kfogel opened #73 "Restart warnings (especially about memory leaks) showing up in catalina.out log."
When I do `mvn tomcat7:redeploy`, I get stuff like this in `/var/lib/tomcat7/logs/catalina.out`:

[code]

[2016-07-15 20:57] kfogel commented on #65
One thing that's not yet clear to me is if we want all our regular logging to happen at the DEBUG level, or if the normal thing to do is have logs _not_ show debugging output (i.e., assuming the app isn't being run in debug mode) but still show intentionally logged regular events such as GET requests on `/clients`.  Need to research standard log4js usage, and general logging conventions, a bit mor

[2016-07-15 20:58] slifty commented on #72
Idk this sounds like a feature not a bug!

Then again, I am a beaver and eat logs for nutritional purposes.

[2016-07-16 02:58] kfogel commented on #72
Daniel.  This is not helpful.

/me glares

[2016-07-26 19:37] cecilia-donnelly commented on #65
Merged to master in 634fcbe, but as mentioned in that commit we may yet update the format / add more information to the logging.

[2016-07-26 20:15] cecilia-donnelly opened #75 "Connect users to organizations and CoC's"
Each user needs to be connected to an organization and thence to a continuum of care in order for the API to handle consent and sharing correctly.  I think consent and sharing is a separate issue, which is yet to be filed.  I'll link it from here once it exists.

In the future, the `TMP_USER` table should have keys to the `TMP_ORGANIZATION` table and perhaps to the `TMP_PROJECT_CONTINUUM` table, o

[2016-07-28 18:18] kfogel opened #76 "Further abstract the internal logging code."
The code to do informational logging (see the commit 634fcbe5 merge) is a bit repetitive and could be further abstracted.  Basically, we should create `src/main/java/org/openhmis/util/LogUtil.java` providing a new a `LogUtil` class, with at least these three methods:

[code]

corresponding respectively to:

[code]

(Well, we might also need a method or two to handle authn event logging specially.)

[2016-07-29 19:28] cecilia-donnelly commented on #65
I believe, based on @kfogel's review, that we'll use  these formats for all logging statements:
- For a GET of many objects: "GET `<endpoint>` (`<number>` results)"
- For a GET/PUT/DELETE of one object: "`<method>` `<endpoint>`/`<id>`"
- For a POST that creates an object: "POST `<endpoint>` (New id: `<id>`)"

I think Karl wrote that up somewhere, but I couldn't find it.  Please link if you see it!

[2016-07-29 19:53] kfogel commented on #65
Ah, miscommunication, sorry.  I thought you were going to write it up, you thought I was going to write it up.  I sort of did write it up, in issue #76, but we really should have it in the tree...

Okay, done in commit 20315dd.  Some day when we have server administration documentation, separate from INSTALL.md, the new material can be moved, but for now at least it's in-tree.

[2016-07-31 19:09] kfogel opened #78 "Minor inconsistency in a couple of log.info() calls; needs examination."
Commit f522fa4 adds a couple of comments asking questions about a choice of parameter in log.info() calls.  See the commit for details.

[2016-08-01 15:52] kfogel opened #79 "Document HTTP response codes in docs/API.md."
In general, [API.md](https://github.com/hmis-tools/hmis-api-server/blob/master/docs/API.md) doesn't talk much about HTTP response codes, although it talks about response bodies.  We should specify the response codes too, right?

In commit 74ceae5, I included some text that mentions HTTP response code (for DELETE of a Consent-to-Share Record), but as far as I can tell, that's the first place we tal

[2016-08-01 16:26] slifty commented on #79
I'm OK with that idea, however the main reason we might not is because our API because response _codes_ are standardized across the web, and our documentation wouldn't be particularly different from those standards: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

[2016-08-01 16:51] kfogel commented on #79
Documented in commit 69ffc87 (should have mentioned this issue in the commit message, but forgot to).

[2016-08-01 16:51] #79 closed, assigned to nobody

[2016-08-01 20:30] cecilia-donnelly commented on #68
Later, we'll add a timeout for items in the cache so that users will need to re-log in at some predetermined interval.  When we do so, we'll change the workflow to the following:
- check for an item in the cache that matches this token and is within the interval
  - if it doesn't exist, look for a record that matches this token but is older than the interval
    - if any are found, delete them

[2016-08-01 22:10] cecilia-donnelly commented on #78
@kfogel, I think these just snuck through before I realized that it would make more sense to use the ID that we already had in the method.  I'll fix them.

[2016-08-01 22:43] kfogel commented on #78
Thanks!

[2016-08-02 15:00] #78 closed, assigned to cecilia-donnelly

[2016-08-12 05:05] slifty opened #81 "User schema fields break standard"
Our schema usually appends"Id" to foreign key fields, so `organization` should be `organizationId` and `coc` should be `cocId`.

Also we tend to reference `coc` as `coC` -- whether or not coc would be better, coC is used in most places and mixing it up is a little wonky.

This is currently defined in hmis-api-server/src/main/resources/db/migration/V029__ALTER_TMP_USER.sql -- we should create anoth

[2016-08-12 14:06] cecilia-donnelly commented on #81
@slifty thanks for pointing this out.  I will fix it.  Do you think it's worth creating the organization and CoC tables at the same time, so the foreign keys have somewhere to point to?

[2016-08-12 15:42] slifty commented on #81
We have both of those already I believe

[2016-08-12 15:55] cecilia-donnelly commented on #81
Oh right, I see `TMP_ORGANIZATION` and `TMP_PROJECT_CONTINUUM` now.  Thanks!

[2016-08-29 19:23] cecilia-donnelly commented on #75
See #81.  Both of these are fixed in the `feature-sharing` branch, so I'll close them once it's merged.

[2016-08-29 19:24] cecilia-donnelly commented on #72
@kfogel and I reduced the logging level from `debug` to `info`, so this is complete.  See the commit message in https://github.com/hmis-tools/hmis-api-server/commit/0e7aa11a0607dac1a88adf7b2346b213e6b150d1 for more detail.

[2016-08-29 19:24] #72 closed, assigned to nobody

[2016-10-27 21:37] cecilia-donnelly opened #83 "Demo server database doesn't match repository schema"
The demo server has 45 tables, but the repository only has "create" migrations for 34 of them (on master).  This results in a `500` response for a GET request to the clients endpoint.

[2016-11-14 19:00] #81 closed, assigned to cecilia-donnelly

[2016-11-14 19:29] cecilia-donnelly opened #84 "Admin page gives errors"
At `openhmis/admin`, I was able to log in but then the following error popped up:
`DataTables warning: table id=DataTables_Table_0 - Requested unknown
parameter '1' for row 0, column 1. For more information about this
error, please see http://datatables.net/tn/4`

I'm pretty sure this is because our "organization" and "coc" fields are now foreign keys to other tables instead of strings (or possibl

[2016-11-14 22:48] cecilia-donnelly commented on #83
I reloaded the database from sample data before merging PR #82.  I don't know why it ever got out of sync with the repository, but it should be back now.

[2016-11-14 22:48] #83 closed, assigned to nobody